.homePage {
  background-image: url(../../assets/images/background-machu.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.headerHomePage {
  &__mobile {
    display: block;
    
    & .button {
      padding-top: 1em;
    }
  }
  &__desktop {
    display: none;
  }
}


.title {
  font-family: 'Pacifico', cursive;
  font-size: 2.3em;
  text-align: center;
  padding: 1em 1em 0em 1em;
  margin-top: .5em;
}

@media only screen and (min-width : 426px) {
  .title {
    font-size: 2.5em;
  }
}

@media only screen and (min-width : 768px) {
  .headerHomePage {
    &__mobile {
      display: none;
    }
    &__desktop {
      display: block;
    }
  }

  .title {
    font-size: 3.5em;
    margin-top: .4em;
  }
}

@media only screen and (min-width : 1224px) {
  .title {
    font-size: 5em;
    margin-top: .4em;
  }
  }
