/*.travelsList {
  background-image: url(../../assets/images/texture.jpg);
  background-size: cover;
  background-position: center;
  height: 100v;
}*/

.travels {
  &__container {
    padding-top: 2em;
    margin-left: 1.5em;
    margin-right: 1.5em;

      &--title {
        font-family: 'Pacifico', cursive;
        font-size: 1.6em;
        margin: auto;
        position: relative;
      }

      .travelsInput {
        display: flex;
        margin: auto;
        background-color: white;
        border: none;
        border-radius: 10px;
        padding: .5em 2em;
        box-shadow: -1px 2px 15px -6px rgba(0,0,0,0.75);
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 0.8em;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          background-color: lightblue;
        }
      }

      img {
        width: 18em; 
        height: 11em; 
        object-fit: cover;
        padding-top: 1em;
        position: static;
      }
  }

  &__inProgress {
    padding-top: 2.5em;
  }

  &__finish {
    padding-top: 2em;
  }
  &--icon {
    width: 1.2%;
    color: red;
    font-weight: bolder;
    position: relative;
    top: 2.2em;
    left: 0.4em;
    cursor: pointer;
  }
  &__commentary {
    background-color: rgba(5, 197, 255, 0.233);
    padding: 0.4em;
    width: 9.3em;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    position: relative;
    bottom: 1em;
    right: 0.5em;

    h3 {
      font-family: 'Pacifico', cursive;
      font-size: 1.1em;
      padding-bottom: 0.5em;
    }

    p {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 0.6em;
      padding-left: 1em;
    }
  }
}

@media only screen and (min-width : 767px) {
    .travels__container {
      background-image: url(../../assets/images/avion-papier.png);
      background-position: center;
      background: no-repeat;
      height: 100vh;
    .travelsInput {
      background-color: rgb(228, 208, 142);
      margin: 0;
      margin-top: 2em;
      margin-right: 2em;
      display: flex;
      float: right;
    }
    .travels__inProgress {
      padding-top: 0;
    }
    .travels__finish {
      padding-top: 1.5em;
    }
  }
}
