.menuDesktop {
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 5px 6px 13px -8px rgba(0,0,0,0.75);
  backdrop-filter: blur(2px);
  padding: 1.5em;
  font-size: 1.3em;

  &--span{
    display: flex;
    font-size: 2em;
    margin: auto;
    cursor: pointer;
    &:hover {
      color: rgb(64, 114, 131);
    }
  }
  &__nav {
    display: flex;
    justify-content: flex-end; 
    &--li {
      list-style: none;
      padding: 0em 2em;
      &:hover {
        color: rgb(64, 114, 131);
      }
    }
  }  
}

@media only screen and (max-width : 767px) {
  .menuDesktop {
    display: none;
  }
}


@media only screen and (min-width : 767px) and (max-width : 1024px) {
  .menuDesktop {
    font-size: 1em;
  }
}
