.register {
  height: 90vh;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  &__form {
   display: block;
   margin: auto;
   width: 80%;
   background-color: rgba(255, 255, 255, .5);
   border-radius: 20px;
   backdrop-filter: blur(5px);
   padding: 2em 1em;
   &--title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
   }
   & form {
     width: 80%;
     margin: auto;
   }
  }
  
}

.floating-label { 
  position:relative; 
  margin-bottom:1em; 
  margin-top: 1.5em;
}
.floating-input {
  font-size:1em;
  padding:.5em;
  display:block;
  width:100%;
  background-color: white;
  border-radius: 10px;
  border: none;
  box-shadow: -1px 2px 15px -6px rgba(0,0,0,0.75);
}

label {
  color: rgba(0, 0, 0, .5);
  font-size:.9em;
  position:absolute;
  pointer-events:none;
  left:10px;
  top:10px;
  transition:0.1s ease all; 
  -moz-transition:0.1s ease all; 
  -webkit-transition:0.1s ease all;
}

.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
  top:-1em;
  font-size:.7em;
  color: black;
  color: rgb(55, 118, 139);
}

.password__span {
  font-size: .8em;
  width: 98%;
  margin: auto;
  line-height: 1.2em;
}

#registerSubmit {
  display: block;
  margin: 2em auto 0em;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: .5em 2em;
  box-shadow: -1px 2px 15px -6px rgba(0,0,0,0.75);
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: pointer;
  &:hover {
    background-color: lightblue;
  }
}
