.register {
  height: 90vh;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  &__form {
   display: block;
   margin: auto;
   width: 90%;
   background-color: rgba(255, 255, 255, .5);
   border-radius: 20px;
   backdrop-filter: blur(5px);
   padding: 2em 1em;
   &--title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 1em;
   }
   & form {
     display: flex;
     flex-direction: column;
   }
  }
  
}
