.notFound {
    &__container {
      height: 100vh;
      background-color: fuchsia;
      span {
        display: flex;
        justify-content: center;
        padding-bottom: 0.5em;
        cursor: pointer;
        &:hover {
          color: #0f88fa;
        }
      }

      img {   
        display: block;
        margin: auto;
        padding-top: 2em;
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        width: 20em;
        height: 15em;
      }
    }

    &--title {
      padding-top: 1.5em;
      padding-bottom: 1.8em;
      display: flex;
      justify-content: center;
      font-family: 'Pacifico', cursive;
      font-size: 2.3em;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(left, blue, red, yellow, green, blue, indigo, violet);
    }

    &--description {
      display: flex;
      justify-content: center;
      padding-top: 3em;
      font-size: 1.5em;
      font-weight: bolder;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(left, blue, orange, yellow, green, blue, indigo, violet);
    }
    &--home {
      display: flex;
      justify-content: center;
      padding-bottom: 1.5em;
      font-size: 1em;
      font-weight: bold;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(left, blue, red, yellow, green, blue, indigo, violet);
    }
}

/*img {   
  display: block;
  margin: auto;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 30em;
  height: 20em;
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:hover {
    background: #0f88fa;
    width: 25em; /* on affiche l'image au carré */
    /*height: 15em;
    border-radius: 50%;  /* on arrondit l'image */
    /*-webkit-transform: rotate(360deg); /* rotation de l'image */
    /*transform: rotate(360deg);
  }
}*/
